{% extends 'front/index2.html.twig' %}

{% block title %}affichage!{% endblock %}
{% block crud %}


            <div class="card" style="text-align: center;background: #f7f7f7;padding-top:40px; ">
            <div style="padding-right:40%;padding-left:40%;">
                          {{ form_start(searchForm) }}
                            {{ form_widget(searchForm.titre,{'attr':{'class':'form-control','placeholder': 'Faire une recherche'}}) }}
<br>
            {{ form_end(searchForm) }}
         
            <form action="/afficherdevis">
    <input type="submit" value="Actualiser" />
</form>
            </div>

            <div class="card-body">
            <h1 >Liste des devis</h1>
              <div class="table-responsive">
              {% if d is empty %}
    <h4>Pas de devis</h4>
{% else %}
            <table class="table">
                    <thead>
                    <tr>     <th>id devis</th>
                        <th>prix</th>
                        <th>id client</th>
                        <th>date</th>
                        <th>Titre du Devis</th>
                         <th>Prendre un rendez-vous</th>
                         
                         
                          <th>Supression</th>
                       
                    </tr>
                    </thead>
                    <tbody>
                    {% for devis in d %}
                        <tr>
                            <td>{{ devis.Iddevis }}</td>
                            <td>{{ devis.prix }}</td>
                            <td>{{ devis.IdClient }}</td>
                            
                               <td>{{ devis.datedevis|date("m/d/Y") }}</td>
                               <td>{{ devis.titre }}</td>
                                <td>
                                <a class="btn btn-success" href="{{ path('rdvv',{'id':devis.Iddevis , 'titrerdv':devis.titre}) }}">Rendez-vous</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{{ path('supprdevis',{'id':devis.Iddevis}) }}">Supprimer</a>
                            </td>
                           
                        </tr>

                    {% endfor %}

                  

                    </tbody>
                </table>
               <div style="padding-left: 50%;">   {{ knp_pagination_render(d)}} </div>
                {% endif %}
                </div>
                </div>
                </div>
{% endblock %}
