{% extends 'base.html.twig' %}
{% block body %}
	<div class="col-lg-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Table All Users</h4>

				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>email</th>
								<th>block</th>
								<th></th>
							</tr>
						</thead>
						<tbody>

							{% for compte in user %}
								<tr>
									<td>{{ compte.id}}</td>
									<td>{{ compte.email }}</td>
									<td>
										{# {{ compte.isBlocked }} #}
										{% if compte.isBlocked %}

											<div class="col-sm-6 col-md-4 col-lg-3">
												<i class="mdi mdi-block-helper"></i>

											</div>

										{% endif %}
									</td>
									<td>
										<a href="{{ path('suppCompte',{'id':compte.id}) }}">Delete</a>
										<a href="{{ path('updateCompte',{'id':compte.id}) }}">Edit</a>
										<a href="{{ path('block',{'id':compte.id}) }}">Block</a>
									</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
