<h1>List Compte</h1>

{% if tabclass is empty %}
<h4>Pas de classe</h4>
{% else %}
<table border="1">
    <tr>
        <td>Id_Client</td>
        <td>Nom</td>
        <td>Prenom</td>
        <td>Date naissance</td>
        <td>Tel</td>
        <td>Email</td>
    </tr>


{% for compte in tabclass %}
    <tr>
        <td>{{ compte.id}}</td>
        <td>{{ compte.nom|upper }}</td>
        <td>{{ compte.prenom }}</td>
        <td>{{ compte.datenaissance|date('Y-m-d')}}</td>
        <td>{{ compte.tel }}</td>
        <td>{{ compte.email }}</td>
        <td><a href="#">Show</a>
         <a href="{{ path('suppCompte',{'id':compte.id}) }}">Delete</a>
        <a href="{{ path('updateCompte',{'id':compte.id}) }}">Edit</a></td>
            
    </tr>
{% endfor %}
</table>
{% endif %}
Nb de classe: {{ tabclass|length }}